All Items in Your {{shoppingList.name}} List

<ul>
    {{#each shoppingList.items}}
    <li>{{this.name}} - {{this.quantity}} <br><br>
    <a href="/users/{{../user._id}}/lists/{{../shoppingList._id}}/items/{{_id}}/edit">Edit Item</a> <br>
    <form action='/users/{{../user._id}}/lists/{{../shoppingList._id}}/items/{{_id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete Item'>
</form></li><hr>
    {{/each}}
</ul>

<footer><a href='/'>Home</a></footer>