<h1>List: {{shoppingList.name}}</h1>
<a href="/users/{{user._id}}/lists/{{shoppingList._id}}/edit">Change List Name</a>
<ul>
    {{#each shoppingList.items}}
    <li>{{this.name}} - {{this.quantity}}</li>
    {{/each}}
</ul>

add item to list
Delete List 
<a href='/users/{{user._id}}'>Go Back to Lists</a>
<a href='/users/{{user._id}}/lists/{{shoppingList._id}}/new'>Add Item to List</a>

<form action='/users/{{user._id}}/lists/{{shoppingList._id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete List'>
</form>