List: {{shoppingList.name}}
<ul>
    {{#each shoppingList.items}}
    <li>{{this.name}} - {{this.quantity}}</li>
    {{/each}}
</ul>

add item to list
Delete List 
<a href='/users/{{user._id}}'>Go Back to Lists</a>

<form action='/users/{{userId}}/lists/{{shoppingList._id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete List'>
</form>