
<a class='changeListName' href="/users/{{user._id}}/lists/{{shoppingList._id}}/edit">Change List Name</a>
<div class="homeList">
    <h1 class='yourLists'>List: {{shoppingList.name}}</h1>
</div>

<div class='homeContainer'>
    <a class='home' href="/">Home  |</a> 
    <a class='goBack' href='/users/{{user._id}}'>|  Go Back to Lists</a>
</div>


<span class='listGroups'>
<ul>
    {{#each shoppingList.items}}
    <li>{{this.name}} - {{this.quantity}}</li>
    {{/each}}
</ul>
<a class='listLink' href='/users/{{user._id}}/lists/{{shoppingList._id}}/items/new'>  Add Item to List</a>
<a class='listLink' href='/users/{{user._id}}/lists/{{shoppingList._id}}/items'>View All Items on List</a>
<br><br>
<form class='delete' action='/users/{{user._id}}/lists/{{shoppingList._id}}?_method=DELETE' method='POST'>
    <input type="submit" value='Delete List'>
</form>
</span>




<div class='footerContainer'>
    <footer class="footer">
        <p class="footerNote">Made with &hearts; by Lauren Hemingway</p>
    </footer>
</div>